  <section>
    <section>
        <h2>Web Apps. <span class="text-yellow">Hosting</span></h2>
    </section>
  </section>
  <section>
    <h2 class="text-yellow">Web Apps</h2>
    <section>
        <img class="b-h" src="images/mobile-apps-meme.png" alt="">
    </section>
    <section>
      <h1>Static web application</h1>
    </section>
    <section>
        <p>
            They are usually developed in HTML and CSS. However, animated objects such as banners, GIFs, videos, etc.,
            may also be included and shown in them. They can also be developed with jQuery and Ajax.
        </p>
    </section>
    <section>
        <h1>Dynamic web application</h1>
    </section>
    <section>
        <p>
            <span class="text-yellow">Dynamic web applications</span> are much more complex at a technical level.
            They use databases for loading data
            and their contents are updated each time the user accesses them. They generally have an administration panel
            (called CMS) from where administrators can correct or modify the app’s content including text and images.
        </p>
    </section>
    <section>
      <h1>Online store <span class="text-yellow">or</span> <br/> e-commerce</h1>
    </section>
    <section>
      <p>
          If the web application is an online store or shop, its development is likely to resemble that of m-commerce
          or an e-commerce site. This kind of app’s development process is more complicated because it must enable
          electronic payments via credit cards, PayPal or other payment methods. The developer must also create a
          management panel for the administrator. It will be used for listing new products, updating or deleting
          them and managing orders and payments.
      </p>
    </section>
    <section>
      <h1>Portal web app</h1>
    </section>
    <section>
      <p>
        By portal, we are referring to a kind of application in which we access several of its sections or categories
          through a home page. These apps can include plenty of things: forums, chats, email, browsers, areas accessed
          through registration, the latest content, etc.
      </p>
    </section>
    <section>
      <h1>Animated web application</h1>
    </section>
    <section>
      <p>
        An animation is inevitably associated with FLASH technology. This programming approach allows for presenting
        content with animated effects. It also enables more innovative and modern designs and is one of the most
        widely used technologies by designers and creative directors.
      </p>
    </section>
    <section>
      <h1>Web application with a content management system</h1>
    </section>
    <section>
      <p>
          Content must be continually updated when it comes to web app development, so installing a content management
          system (CMS) is a serious option to consider. The administrator can make use of this CMS to implement
          changes and updates.
      </p>
    </section>
</section>
<section>
    <h2 class="text-yellow">Hosting</h2>
    <section>
        <img src="images/free-hosting-meme.jpg" alt="">
    </section>
    <section>
        <h1>Shared hosting</h1>
    </section>
    <section>
        <p>
            Perfect for entry-level website hosting. This is where your website will be stored on the same server as
            multiple other websites, that could be anywhere between hundreds or thousands of others.
        </p>
    </section>
    <section>
        <h1>Virtual private server (VPS) hosting</h1>
    </section>
    <section>
        <p>
            A VPS hosting service mimics a dedicated server, but is within a shared hosting environment. This one’s for
            website owners that need more control, but don’t want to invest in a dedicated server. They’re still not
            able to handle high traffic levels or spikes in usage and the site performance can still be affected by
            other sites on the server.
        </p>
    </section>
    <section>
        <h1>Dedicated server hosting</h1>
    </section>
    <section>
        <p>
            This option gives website owners the most control over the server that their website is  stored on.
            The server is exclusively rented by you and your website is the only one  stored on the server.
            You have full root and admin access, which means control over everything from security to operating
            system. All that control comes with a price.
        </p>
    </section>
    <section>
        <h1>Cloud hosting</h1>
    </section>
    <section>
        <p>
            Cloud hosting is the current buzzword of the hosting industry. It’s just a marketing term and “Cloud” can
            mean different things in different contexts. With hosting, it means many computers working together,
            running applications using combined computing resources. It’s a hosting solution that works via a network,
            like the internet, and enables companies to consume the computing resource like a utility e.g. gas or
            electricity.
        </p>
    </section>
    <section>
        <h1>Managed hosting</h1>
    </section>
    <section>
        <p>
            Most hosting packages you are likely to find online will be managed. Hosting companies provide technical
            services such as hardware and software setup and configuration, maintenance, hardware replacement,
            technical support, patching, updating and monitoring. Unlike standard dedicated hosting, the
            hosting provider looks after the day-to-day management of the hardware, operating systems and standardised
            applications.
        </p>
    </section>
    <section>
        <h1>Colocation</h1>
    </section>
    <section>
        <p>
            Instead of keeping servers in-house or at a private data centre, you may choose to ”‘co-locate” your
            equipment by renting space in a colocation centre. The centre will provide the power, bandwidth,
            IP address and cooling systems that your server requires. Space is rented out in racks and cabinets.
        </p>
    </section>
</section>
<section>
    <img src="images/b-f.jpg" alt="">
</section>